
body { 
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #000;

 }

.a { 
color: #fff; 
text-align: center;
text-decoration: none;
font-family: monospace;
font-size: 15px;


 }

#h1, #p { 
color:  rgb(240, 255, 240); 
text-align:  center;
border: 2px solid rgb(186, 85, 211); 



 }



.f { 
display: inline-block;
position: relative;
left: 120px; 

 }

 .form { 

  display: inline-block;
  max-width: 450px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 320px;
 
  }

.form input { 
padding: 5px;
margin: 10px;
border-radius: 20px;
box-shadow: 10px 10px 5px grey; 

} 

.input { 
top: 15px;
position: relative;

 }

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}


.footer {  

display: flex;
flex-direction: column;
align-items: center;
background-color: #000; 
margin: 0;
position: relative;
top: 500px;  
width: 100%; 
color: #000;
border: 2px solid #fff;
background: #F0EBEB; 
height: 30px;

}
 

@media (max-width: 768px) { 



body { 
background: #000; 

 }


.form { 
background: transparent;

 }


.form label, input, textarea { 
position: relative;
left: -300px;
color: #fff; 


 }

#input { 
color: #000;

 }

} 
